.card__container {
  width: 250px;
  height: 300px;
  background: var(--color-primary);
  border: 3px solid var(--color-bg);
  color: var(--color-bg);
  border-radius: 8px;
  transition: 300ms all ease;
  cursor: pointer;
  user-select: none;
}

.card__icon {
  text-align: center;
  font-size: 2rem;
  margin-top: .5rem;
}

.card__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0; 
}

.card__detail {
  text-align: center;
  padding: .5rem;
}

@media screen and (max-width: 600px) {
  .card__container {
    width: 200px;
    height: 300px;
  }

}