@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  /*background: rgb(0 100 0 / 0.05) !important;*/
}

:root {
  --color-font: #e4e4e4;
  --color-bg: #1b1b1b;
  --color-bg-variant: #2c2c2c;
  --color-bg-subpage: #41424C;
  --color-primary: #e4e4e4;
  --color-primary-variant: #d5d5d5;

  --color-general-service-first: #353535;
  --color-general-service-second:#454545;
  --color-general-service-third:#555555;

  --transition: all 400ms ease;

  --container-width-lg: 80%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3A3B3C; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-font);
  line-height: 1.7;
}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: var(--color-font);
}

a:hover {
  color: var(--color-primary-variant);
}

.spacer {
  aspect-ratio: 960 / 135;
  width: 100%;
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }

  .section {
      margin-top: 6rem;
  }
}


/* ============================ MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .container {
      width: var(--container-width-sm);
  }

  .section > h2{
      margin-bottom: 2rem;
  }
}