#services {
  background-color: var(--color-bg-subpage);
  padding-top: 10rem;
  padding-bottom: 3rem;
}

#services > h2 {
  margin-bottom: 3rem;
}

.services__container {
  display: flex;
  gap: 1rem;
}

.service__link {
  width: 50%;
}

.service__component {
  position: relative;
}

.service__component > p {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  .services__container {
    flex-direction: column;
  }

  .service__link {
    width: 100%;
  }

  .service__component {
    display: flex;
    justify-content: center;
  }

  .service__component > img{
    background-color: unset;
    filter: none;
    max-width: 80%;
  }

  .service__component > p {
    width: 100%;
    left: 12%;
    font-size: 1.7rem;
  }
}

/* ============================ MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .services__container {
    flex-direction: column;
  }

  .service__link {
    width: 100%;
  }

  .service__component > img{
    background-color: unset;
    filter: none;
  }

  .service__component > img{
    background-color: unset;
    filter: none;
    max-width: 80%;
  }

  .service__component > p {
    width: 100%;
    left: 12%;
    bottom: 5%;
    font-size: 1.2rem;
  }
}
